hosts = {{ if .Cluster.PgBouncer.Enabled }}pgbouncer:{{ if .Cluster.PgBouncer.ListenPort }}{{ .Cluster.PgBouncer.ListenPort }}{{ else }}6432{{ end }}{{ else }}postgres{{ end }}
user = {{ .Database.PostfixUser }}
password = {{ .Database.PostfixPassword }}
dbname = {{ .Database.Name }}
query = SELECT a.destination FROM aliases a JOIN domains d ON a.domain_id = d.id WHERE CONCAT(a.source_local_part, '@', d.name) = '%s' AND a.active = true AND d.active = true
